@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

#jukebox {
    padding: 50px;
    position: relative;
    background: white;
}

.inner-jukebox {
    position: relative;
    padding: 3% 12vw; 
}

.jukebox-arrow {
    position: absolute;
    user-select: none;
    cursor: pointer;
    font-size: 60px !important;
    z-index: 2;
}

#jukebox-prev{
    left: 6vw;
}

#jukebox-next{
    right: 6vw;
}

.jukebox-title {
    /* width: var(--spacing-content-width); */
    margin-left: 12vw;
}

.jukebox-more {
    margin-top: 10px;
    margin-left: 12vw;
}

.jukebox-song {
    position: relative;
    /* width: 19vw; */
    width: 100%;
    /* margin: 5px 10px; */
}

.jukebox-song-img-wrapper{
    position: relative;
    width: 100%;
    height: auto;
}

.jukebox-song-img {
    position: relative;
    pointer-events: none;
    width: 100%;
}

.jukebox-song-title {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
}

.jukebox-song-artist {
    position: relative;
    line-height: 1.4;
}

.jukebox-song-media {
    text-decoration: none;
    font-size: 20px;
    color: rgb(175, 175, 175);
    margin: 5px 10px 0px 0px;
}

#jukebox .slick-slide {
    opacity: 0.5;
}

#jukebox .slick-center {
    opacity: 1;
}

.control-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
}

#jukebox .slick-slide .control-btn{
    display: none;
}

#jukebox .slick-center .control-btn{
    display: block;
}

#vinyl-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    position: fixed;
    width: fit-content;
    height: fit-content;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

.inner-vinyl-player{
    position: relative;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}

.spinning-vinyl{
    height: inherit;
    width: inherit;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#vinyl-player.play .spinning-vinyl{
    animation-play-state: running;
}

#vinyl-player.active {
    visibility: visible;
}

#vinyl-player img{
    pointer-events: none;
    user-select: none;
}

#vinyl{
    position: absolute;
    width: inherit;
    object-fit: cover;
    /* z-index: 1; */
}

.control-buttons-wrapper{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    user-select: none;
}

#vinyl-control-btn, #vinyl-prev, #vinyl-next{
    font-size: 30px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
}

#vinyl-player:hover .control-buttons-wrapper{
    visibility: visible;
}

#spindle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7%;
    object-fit: cover;
    z-index: 3;
}

#vinyl-player .cover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 32%;
    object-fit: cover;
    z-index: 2;
}

.record-info{
    margin-top: 10px;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    text-align: right;
}

#record-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
}

#record-artist{
    line-height: 100%;
    font-weight: 600;
}

/* fixes slick margin issue */
#jukebox .slick-slide {
    margin: 0 15px;
}
#jukebox .slick-list {
    margin: 0 -15px;
}
/* ------------------------ */