#jukebox {
    padding: 50px;
    position: relative;
    background: white;
}

.inner-jukebox {
    position: relative;
    padding: 3% 12vw; 
}

.jukebox-arrow {
    top: 50%;
    position: absolute;
    width: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 40px !important;
    z-index: 2;
}

#jukebox-prev{
    left: 10vw;
    transform: translate(-50%, -50%);

}

#jukebox-next{
    right: 10vw;
    transform: translate(+50%, -50%);
}

.jukebox-title {
    width: var(--spacing-content-width);
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.jukebox-song {
    position: relative;
    width: 19vw;
    height: auto;
    margin: 5px 10px;
}

.jukebox-song-img {
    position: relative;
    width: 100%;
    height: auto;
}

.jukebox-song-title {
    position: relative;
}

.jukebox-song-artist {
    position: relative;
}