#jukebox {
    padding: 50px;
    position: relative;
    background: white;
}

.inner-jukebox {
    position: relative;
    padding: 3% 12vw; 
}

.jukebox-arrow {
    top: 50%;
    position: absolute;
    width: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 40px !important;
    z-index: 2;
}

#jukebox-prev{
    left: 10vw;
    transform: translate(-50%, -50%);

}

#jukebox-next{
    right: 10vw;
    transform: translate(+50%, -50%);
}

.jukebox-title {
    /* width: var(--spacing-content-width); */
    margin-left: 12vw;
}

.jukebox-more {
    margin-top: 10px;
    margin-left: 12vw;
}

.jukebox-song {
    position: relative;
    /* width: 19vw; */
    height: auto;
    /* margin: 5px 10px; */
}

.jukebox-song-img {
    position: relative;
    width: 100%;
    height: auto;
}

.jukebox-song-title {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
}

.jukebox-song-artist {
    position: relative;
    line-height: 1.4;
}

.jukebox-song-media {
    text-decoration: none;
    font-size: 20px;
    color: rgb(175, 175, 175);
    margin: 5px 10px 0px 0px;
}

.owl-item {
    opacity: 0.5;
}

.owl-item.center {
    opacity: 1;
}

.vinyl-wrapper {
    position: fixed;
    width: 90px;
    height: 90px;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    overflow: hidden;
}

.vinyl-wrapper::after{
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, +50%);
    position: absolute;
    background-color: white;    
}

.vinyl-wrapper img{
    border-radius: 50%;
    width: inherit;
    object-fit: cover;

    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.vinyl-wrapper.play img{
    animation-play-state: running;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}