#news{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
}

.news-title{
    padding-top: 50px;
    text-align: right;
    width: 100%;
}

.inner-news{
    width: initial;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.article{
    width: initial;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    background-color: white;
    position: relative;
    border: 1px solid black;
}

.article-image{
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    width: 30%;
    object-fit: contain;
}

.article-content-wrapper{
    padding-left: 15px;
    align-self: flex-start;
}

.article-text-separator{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
    height: 1px;
}

.article-title {
    font-size: 30px;
    line-height: 110%;
    margin-bottom: 10px;
}

.article-summary{
    padding-top: 20px;
    padding-bottom: 20px;
}


@media screen and (max-width: 1068px) {
    /* .article{
        max-width: 800px;
    }

    .article-image{
        min-width: 200px;
        max-width: 200px;
    } */
}

@media screen and (max-width: 868px) {
    /* .article{
        flex-direction: column;
        padding: 25px;
    }

    .article-image{
        min-width: 320px;
        max-width: 320px;
    }

    .article-content-wrapper{
        padding-top: 15px;
        padding-left: 0;
    } */
}

@media screen and (max-width: 600px) {
    /* .article-image{
        min-width: 250px;
        max-width: 250px;
    } */
}

#article-modal{
    background-color: white;
}

#article-modal .modal-body{
    padding-top: 0;
}

#article-modal .modal-body.hidden{
    display: none;
}

#article-modal .modal-body::-webkit-scrollbar{
    width: 15px;
    background-color: transparent;
}

#article-modal .modal-body::-webkit-scrollbar-thumb {
    background-color: #f7ae12;
    width: 10px;
    border-radius: 10px;
    background-clip: content-box;
    border: 3px solid transparent;
}

#article-modal .modal-body::-webkit-scrollbar-thumb:hover {
    background-color: #c98e10;
}

.article-modal-title{
    text-align: center;
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

.article-modal-image{
    float: left;
    width: 30%;
    min-width: 120px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.article-modal-text{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 100;
}