@import url("../style.css");

#packages {
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--color-packages-bg);
    color: var(--color-packages-text);
}

.inner-packages {
    padding: 50px 0px;
    margin-left: auto;
    margin-right: auto;
    /* width: var(--spacing-content-width); */
    /* width: 800px; */
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.package {
    background: var(--color-package-bg);
    width: 30%;
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package-label {
    background-color: var(--color-package-label-bg);
    text-align: center;
    color: var(--color-package-label-text);
    border-radius: var(--package-border-radius) var(--package-border-radius) 0 0;
    padding: 10px 0px;
}

.package-label h2 {
    line-height: 100%;
    font-size: 32px;
}

.package-img {
    width: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.package-content {
    padding: 10% 10px 20% 10px;
    margin-left: auto;
    margin-right: auto;
    /* width: 90%; */
}

.package-content ul {
    /* list-style-type: none; */
    list-style-image: url("../../static/icons/bullet.svg");
    margin: 0px 40px;
    min-height: 140px;
    font-size: larger;
}

.package-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.package-action {
    margin: 5px;
}

.package-desc {
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    /* margin-top: 16px; */
}

.vinyl {
    position: absolute;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    z-index: 1;
    margin-top: 400px;
}

.package-separator {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-bottom: 1px solid var(--color-package-separator);
    height: 1px;
    width: 60%;
}

.packages-headline {
    font-size: 60px;
    padding-top: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.package button {
    width: 60%;
}