#testimonials{
    padding: 40px 0;
    position: relative;
    background: white;
    border-top: solid 2px black;
}

.testimonials-title{
    text-align: left;
}

.inner-testimonials{
    position: relative;
    margin: auto -10px;
}

#testimonials .slick-track
{
    display: flex !important;
}

.testimonial{
    position: relative;
    transition: ease 0.3s;
    height: inherit !important;
    width: 300px;
    margin: 10px;
}


.testimonial-text-wrapper{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 10px 0px;
}

.testimonial-text{
    line-height: 1.5;
    font-style: italic;
    z-index: 5;
    height: 100%;
    font-size: 20px;
}

.testimonial-quotes {
    width: 20%;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 4;
}

.testimonial-body {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: none !important;
}

.testimonial-footer {
    padding: 10px;

    background: radial-gradient(circle at 100px 20px, #d6d6d6 60%, #d6d6d6);

    border-image-source: radial-gradient(circle at 50px 20px, #808080, #b0b0b0);
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
}

    .testimonial-footer-headline {
        text-transform: uppercase;
        font-size: 12px;
        /* font-weight: 800; */
    }

    .testimonial-footer-content {
        text-transform: uppercase;
        /* font-family: 'Kanit', serif, Verdana; */
        font-size: 20px;
        font-weight: 800;
        line-height: 100%;
    }

.testimonial-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.testimonial-author {
    font-weight: bold;
    font-size: 16px;
}
