#summary {
    background: var(--color-about-summary-bg);
    color: var(--color-about-summary-text);
}

    .inner-summary {
        padding: 50px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .summary-img-wrapper {
        width: 50%;
    }

    .summary-img {
        width: 100%;
        border: 1px solid var(--color-about-summary-img-border);
    }

    .summary-text {
        width: 45%;
    }

    .hidden {
        visibility: hidden;
    }

    .summary-text-desc {
        font-size: 20px;
        font-size: 1.5vw;
    }

    .summary-call-to-actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
    }

    .summary-call-to-action {
        color: var(--color-about-summary-cta);
        text-decoration: none;
        font-size: 20px;
        font-size: 1.3vw;
    }

    .summary-call-to-action span {
        font-size: 10px;
    }

#statements {
    background: var(--color-about-statements-bg);
    color: var(--color-about-statements-text);
}

    .inner-statements {
        padding: 80px 0;
    }

    .statements-separator {
        height: 2px;
        border-bottom: 2px solid var(--color-about-statements-border-top);
    }

    .mission-statement {

    }

        .mission-subject {
            text-align: right;
            text-transform: uppercase;
        }

        .mission-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .mission-description {
            border-top: 1px solid var(--color-about-statements-border);
            border-left: 1px solid var(--color-about-statements-border);
            padding: 30px 50px 0 50px;
            height: fit-content;
            color: var(--color-about-statements-prefix-text);
        }

        .mission-title {
            text-align: justify;
            background: var(--color-about-statements-accent-text);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 120%;
        }

    .statement-gap {
        width: 20%;
    }

    .arrow-separator {
        margin: 30px auto;
        width: fit-content;
    }

    .arrow-separator * {
        font-size: 100px !important;
    }

    .vision-statement {
        
    }

        .vision-subject {
            text-align: left;
            text-transform: uppercase;
        }

        .vision-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .vision-description {
            border-bottom: 1px solid var(--color-about-statements-border);
            border-right: 1px solid var(--color-about-statements-border);
            padding: 0 30px 50px 30px;
            height: fit-content;
            color: var(--color-about-statements-prefix-text);
        }

        .vision-title {
            text-align: left;
            background: var(--color-about-statements-accent-text);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 120%;
        }

#team {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: var(--color-about-team-bg);
    color: var(--color-about-team-text);
}

    .team-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .team-group.bottom {
        align-items: flex-end;
    }

    .team-title {
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        width: fit-content;
        font-size: 60px;
    }

    .team-separator {
        width: 100vw;
        border-top: 2px solid var(--color-about-team-members-border);
    }

    .team-members {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .members-title {
        width: 5%;
        height: inherit;
        padding: 20px;
        color: var(--color-about-team-deco-text);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        line-height: 100%;
    }

    .members-title.bottom {
        align-items: flex-end;
        justify-content: flex-start;
    }

    .right-members-title {
        vertical-align: top;
        line-height: 100%;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin: 0px;
    }

    .left-members-title {
        transform: scale(-1);
        writing-mode: vertical-lr;
    }

    .members-title-visual-alt {

    }

    .members-title-visual-info {
        height: 100px;
        border-left: 2px solid var(--color-about-team-deco-text);
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .members-title-visual-square {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 2px solid var(--color-about-team-deco-text);
    }

    .members-title-visual-square .material-icons {
        font-size: 30px !important;
        user-select: none;
    }

    .members-title-visual-square.flipped{
        transform: rotate(180deg);
    }

    /* Member */

    .member {
        width: fit-content;
        height: auto;
        text-align: center;
        margin: 50px;
    }

    .member-photo {
        max-width: 15vw;
        border-radius: 1000px;
        border: 3px solid var(--color-about-team-member-photo-border);
        padding: 5px;
    }

    .member-name {
        line-height: 100%;
    }

    .member-title {
        color: var(--color-about-team-member-title);
    }

    .member-description {
        max-width: 20vw;
        color: var(--color-about-team-member-alt-text);
    }

    .member-info {
        color: var(--color-about-team-member-alt-text);
    }

    .member-socials {
        color: var(--color-about-team-member-alt-text);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px 50px;
    }

    .member-socials a {
        color: inherit;
        text-transform: none;
        text-decoration: none;
    }