#contact{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1;
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url('/static/pictures/damascus.svg');
}

.single-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding-top: 30px;
    padding-bottom: 50px;
    background: white;
    border-width: 0px 2px;
    border-style: solid;
    border-color: black;
    flex: 1;
}

.inner-contact {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    width: var(--spacing-contact-width);
}

.contact-headline{
    text-align: left;
}

.contact-subline {
    width: 50%;
    line-height: 100%;
    text-align: left;
}

.inner-contact-form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 35px 35px 35px;
    /* background: var(--color-contact-block-bg);
    border: 1px solid var(--color-contact-block-border); */
}

.contact-form label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 16px;
}

.contact-form-field {
    font-size: 16px;
    padding: 5px;
    resize: none;
    border: 2px solid var(--color-contact-block-border);
    background: var(--color-contact-block-input-bg);
}

.contact-form-field.faulty {
    border: 2px solid #e42b2b;
    background-color: #ffecec;
}

.contact-form-field-subtext {
    color: #e42b2b;
    display: none;
    font-size: 12px;
    font-weight: 600;
}

.contact-form-field-subtext.faulty {
    display: block;
}

.contact-form-field-subtext.successful {
    display: block;
    color: #14bd2a;
    margin-top: 16px;
    font-size: 20px;
    line-height: 80%;
}

.contact-form-submit {
    font-size: 16px;
    margin-top: 16px;
}

.contact-links{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: var(--color-contact-block-bg);
    border: 1px solid var(--color-contact-block-border);
    color: var(--color-contact-block-text); */
    margin-bottom: 20px;
}

.contact-info-block i {
    color: var(--color-contact-block-accent);
    font-size: 68px;
    margin: 20px;
}

.center-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.center-info-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info-block-content {
    color: var(--color-contact-block-text);
    margin: 20px 0px;
    font-size: 24px;
    text-align: left;
}

.contact-info-block.small{
    width: 100%;
}

.contact-info-block-spacer {
    height: 24px;
    width: 40px;
}

.contact-info-block .arrow {
    color: var(--color-contact-block-alt-text);
}

.contact-table {
    width: 100%;
    height: auto;
}

.contact-table td{
    vertical-align: top;
}

.table-gap {
    width: 24px;
}

.no-underline {
    text-decoration: none;
}