.navbar {
    display: flex;
    align-items: center; /* Vertical centering */
    height: auto;
    user-select: none;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--color-header-bg);
    border-bottom: 1px solid var(--color-header-text);
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Vertical centering */

    width: 100%;
    margin: 10px 30px;
}

.navbar-logo{
    width: 40px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.navbar-logo-text {
    font-size: 36px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Staatliches', sans-serif, Arial;
    color: var(--color-header-text);
}

.navbar-links{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: var(--spacing-content-margin-side);
}

.navbar a {
    color: var(--color-header-text);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
}

.navbar-brand{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.login-icon {
    font-size: 30px !important;
    cursor: pointer;
    text-transform: none !important;
}

.nav-spacer {
    position: relative;
    height: 65px;
}