.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 25px;
    user-select: none;
    padding: 20px;
    position: sticky;
    z-index: 2;
}

.navbar-brand-logo, .navbar-profile-logo{
    height: 100%;
    width: auto;
    padding-right: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.navbar-profile-logo{
    padding-right: 0px;
}

.navbar-links{
    list-style: none;
    margin:0;
    padding:0;
    list-style-type: none;
}

.navbar-links li{
    display:inline-block;
    padding-left: 80px;
}

.navbar-links li:first-child{
    padding-left: 0px;
}

.navbar-links li, a{
    text-decoration: none;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-user{
    height: 100%;
}