.full-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-spacer {
    flex: 1 0 auto;
    width: 100vw;
}

.basic-pointer {
    position: fixed;
    display: flex;
    height: 100%;
    margin-top: 50px;
    z-index: 10;
}

    #artwork-pointer {
        left: 0px;
    }

    #track-pointer {
        right: 0px;
    }

    .shifted-left {
        margin-left: -70px;
    }

    .shifted-right {
        margin-right: -70px;
    }

.portfolio-content {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex: 1 1 auto;
    align-content: center;
    -ms-overflow-style: none;  /* IE and Edge Remove horizontal scrollbar*/
    scrollbar-width: none;  /* Firefox Remove horizontal scrollbar*/
}

    .portfolio-content::-webkit-scrollbar {
        display: none; /* Remove horizontal scrollbar */
    }

.portfolio-side {
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    -ms-overflow-style: none;  /* IE and Edge Remove vertical scrollbar*/
    scrollbar-width: none;  /* Firefox Remove vertical scrollbar*/
}

    .portfolio-side::-webkit-scrollbar {
        display: none; /* Remove vertical scrollbar */
    }

    .portfolio-side div h1 {
        font-size: 60px;
        /* font-weight: 600; */
        text-transform: uppercase;
    }

.content-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-side-title {
    text-align: right;
}

.artwork-content {
    width: 1000px;
    /* height: 100%; */
    margin-left: auto;
    margin-right: auto;
    padding: 0px 50px;
    background: white;
    border: solid 2px black;
}

    #artwork-side {
        background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url('/static/pictures/damascus.svg');
    }

    .artwork {
        width: 300px;
        margin: 0px 10px 0px 0px;
    }

    .artwork-img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .artwork-label {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 30px;
    }

#splitter {
    width: 60vw;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
}

    .splitter-title-wrapper {
        flex-grow: 1;
        height: 25%;
    }

    .splitter-title {
        color: white;
        text-align: center;
        font-size: 70px;
        /* line-height: 80%; */
        padding: 50px;
        text-transform: uppercase;
    }

    .splitter-pointer {
        border: solid 2px black;
        border-left: none;
        padding: 0 5px;
        height: 50%;
        font-size: 50px;
        cursor: pointer;
        background-color: white;

        display: flex;
        align-self: center;
        justify-content: center;
    }

    .splitter-pointer.left {
        transform: scale(-1);
        writing-mode: vertical-lr;
        line-height: 100%;
    }

    .splitter-pointer.right {
        vertical-align: top;
        line-height: 100%;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .splitter-pointer .material-icons {
        font-size: inherit;
    }

    .pointer-description-wrapper {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
    }

    .pointer-description {
        height: 100%;
        background-color: white;
        padding: 0 20px;
        min-width: 30%;
        max-width: 40%;
    }

    .pointer-description p {
        margin: 40px 10px;
        font-size: 24px;
        text-align: justify;
    }

    .pointer-description.bottom-alignment {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .splitter-content {
        width: 100%;
        background: #110f06;
        display: flex;
        flex-direction: column;
    }

.track-content {
        width: 1000px;
        /* height: 100%; */
        margin-left: auto;
        margin-right: auto;
        padding: 0px 50px;
        background: white;
        border: solid 2px black;
    }

    #track-side {
        background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url('/static/pictures/damascus.svg');
    }

    .track {
        width: 300px;
        margin: 0px 10px 0px 0px;
    }

    .track-img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .track-label {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 30px;
    }