@import url("./style.css");

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInSlightly {
    0% {opacity: 0.7;}
    80% {opacity: 0.7;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOutSlightly {
    0% {opacity: 1;}
    100% {opacity: 0.7;}
}

.full-page {
    width: inherit;
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url('/static/pictures/damascus.svg');
}

.content {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width: var(--spacing-content-width);
    
    background: white;
    border: solid 2px black;
    border-bottom: none;
    border-top: none;
}

.shop-header {
    font-size: 140px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 40px;
}

/* Package block */
.shop-group {
    width: 100%;
    margin-bottom: 200px;
}

.shop-title {
    font-size: 46px;
}

.right-align {
    text-align: right;
    max-width: 800px;
}

.right-sticky {
    margin-right: 0px;
    margin-left: auto;
}

.shop-description {
    font-size: 20px;
    margin-bottom: 30px;
}

/* Package */
.package-wrapper {

}

    .package-tag {
        background: rgb(223, 68, 68);
        color: white;
        width: fit-content;
        padding: 0px 5px;
    }

.package {
    width: 100%;
    margin-bottom: 10px;
    z-index: 2;
    
    display: flex;
    flex-direction: row;
}

    .package.big {
        height: 150px;
    }

    .package.small {
        height: 110px;
    }

    .package-block-full {
        border: solid 2px #d4d4d4;
        background: #ececec;

        width: 45%;
        padding: 10px;

        display: flex;
        flex-direction: row;
    }   

        .package-block {
            height: 100%;
        }

        .package-block.left {
            flex-grow: 1;
        }

        .package-block.right {
            width: auto;
            /* text-align: right; */
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .package-engagement {
                text-transform: uppercase;
            }

            .package-engagement.hidden {
                animation: fadeOut 0.2s;
                opacity: 0;
            }

            .package-engagement:not(.hidden) {
                animation: fadeIn 0.2s;
                opacity: 1;
            }

            .package-price {
                line-height: 100%;
            }

        .package-title {
            font-size: 30px;
            line-height: 100%;
            text-transform: uppercase;
        }

        .package-subtext {
            color: #525252;
        }

    .package-detail-block {
        border: solid 2px #b0b0b0;
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

        .package-detail-block.no-left-border {
            border-left: none;
        }

        .package-detail-block.no-right-border {
            border-right: none;
        }

        .package-detail-block.hidden {
            animation: fadeOut 0.2s;
            opacity: 0;
        }

        .package-detail-block:not(.hidden) {
            animation: fadeIn 0.4s;
            opacity: 1;
        }

        .package-detail-title {
            line-height: 140%;
            text-transform: uppercase;
            font-weight: 600;
        }

        .package-details {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex: 1;
        }

        .package-items {
            width: 100%;
            height: 100%;
            line-height: 100%;
            text-transform: none;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
        }

            .package-items p {
                width: fit-content;
                height: fit-content;
                padding: 5px 30px 5px 0px;
            }

        .package-buy {
            width: fit-content;
            height: fit-content;
            align-self: flex-end;
        }

    .package-img {
        z-index: 1;
        margin-bottom: -390px;
        max-width: 45%;
        max-height: 390px;
    }

    .package-img.right {
        margin-left: 50%; 
    }

        .package-img.faded {
            animation: fadeOutSlightly 1s;
            opacity: 0.7;
        }

        .package-img:not(.faded) {
            animation: fadeInSlightly 1s;
            opacity: 1;
        }

.glass {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
}