/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
/* Options for the logo text font */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap'); /* Not centered vertically */
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');

/* Generic resets */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mukta Vaani", serif, Helvetica;
    color: #110f06;
    background-color: #ffffff;
    /* overflow-x: hidden; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Headlines */

h1 {
    font-family: 'Kanit', serif, Verdana;
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-family: 'Kanit', serif, Verdana;
    font-size: 36px;
    font-weight: 400;
}

h3 {
    font-family: 'Mukta Vaani', serif, Helvetica;
    font-size: 24px;
    font-weight: 300;
}

h4 {
    font-family: 'Mukta Vaani', serif, Helvetica;
    font-size: 18px;
    font-weight: 300;
}

p {
    font-family: 'Open Sans', serif, Helvetica;
    font-size: 14px;
    font-weight: 300;
}

/* Colors */

:root {
    /* Border rounding */
    --button-border-radius: 0px;
    --package-border-radius: 0px;

    /* Default */
    --color-header-bg: #110f06;
    --color-header-text: #ffffff;

    --color-footer-bg: #3a3a3a;
    --color-footer-bg-alt: #6b6b6b;
    --color-footer-text: #ffffff;
    --color-footer-text-alt: #6b6b6b;

    /* Landing page */

    --spacing-content-margin-side: 20%;
    --spacing-content-width: 60%;

    --color-hero-text: #110f06;

    --color-about-bg: #110f06;
    --color-about-text: #ffffff;

    --color-packages-bg: #ffffff00;
    --color-packages-text: #110f06;
    --color-packages-border: #3a3a3a;
    --color-package-bg: #ffffff;
    --color-package-label-bg: #efefef00;
    --color-package-label-text: #000000;
    --color-package-separator: #3a3a3a;

    /* About page */

    --spacing-about-width: 60%;

    --color-about-summary-bg: #ffffff;
    --color-about-summary-text: #110f06;
    --color-about-summary-img-border: #110f06;
    --color-about-summary-cta: #ec581d;

    --color-about-statements-bg: #110f06;
    --color-about-statements-text: #ffffff;
    --color-about-statements-prefix-text: #9e9e9e;
    --color-about-statements-accent-text: -webkit-linear-gradient(45deg, #ff7d49, #ec581d);
    --color-about-statements-border: #9e9e9e;
    --color-about-statements-border-top: #ffffff;

    --color-about-team-bg: #ffffff;
    --color-about-team-text: #110f06;
    --color-about-team-member-title: #ec581d;
    --color-about-team-member-photo-border: #ec581d;
    --color-about-team-member-alt-text: #cbcbcb;
    --color-about-team-members-border: #cbcbcb;
    --color-about-team-deco-text: #cbcbcb;

    /* Contact page */

    --spacing-contact-width: 60%;

    --color-contact-bg: #ffffff;
    --color-contact-block-bg: #ececec;
    --color-contact-block-input-bg: #fbfbfb;
    --color-contact-block-border: #adadad;
    --color-contact-block-alt-text: #adadad;
    --color-contact-block-text: #110f06;
    --color-contact-block-accent: #f7ae12;

    /* Primary button */

    --color-btn-primary-text: #1a1502;
    --color-btn-primary-bg-start: #f1ca2e;
    --color-btn-primary-bg-end: #f7ae12;
    --color-btn-primary-border: #f1c410;

    --color-btn-primary-text-hover: #1a1502;
    --color-btn-primary-bg-start-hover: #f1ca2e;
    --color-btn-primary-bg-end-hover: #e6aa06;
    --color-btn-primary-border-hover: #e6aa06;

    /* Alternative button */
    --color-btn-alternative-text: #e9e9e9;
    --color-btn-alternative-bg: transparent;
    --color-btn-alternative-border: #e9e9e9;

    --color-btn-alternative-text-hover: #bdbdbd;
    --color-btn-alternative-bg-hover: #dfd7e121;
    --color-btn-alternative-border-hover: #bdbdbd;

    /* Alternative dark */
    --color-btn-alternative-dark-text: #110f06;
    --color-btn-alternative-dark-bg: transparent;
    --color-btn-alternative-dark-border: #110f06;

    --color-btn-alternative-dark-text-hover: #302c1d;
    --color-btn-alternative-dark-bg-hover: #423d2507;
    --color-btn-alternative-dark-border-hover: #302c1d;
}

.primary-color { color: var(--primary-color); }
.secondary-color { color: var(--secondary-color); }
.accent-color { color: var(--accent-color); }
.secondary-accent-color { color: var(--secondary-accent-color); }
.white-color { color: var(--white-color); }
.primary-color-background { color: var(--primary-color); }
.secondary-color-background { color: var(--secondary-color); }
.accent-color-background { color: var(--accent-color); }
.secondary-accent-color-background { color: var(--secondary-accent-color); }
.white-color-background { color: var(--white-color); }

/* Primary BUTTON */

button.primary {
    cursor: pointer;
    user-select: none;
    line-height: 150%;
    width: fit-content;

    padding: 8px 20px;

    /* border: 2px solid;
    border-radius: var(--button-border-radius);
    background: linear-gradient(180deg, var(--color-btn-primary-bg-start) 40%, var(--color-btn-primary-bg-end));
    color: var(--color-btn-primary-text);
    border-color: var(--color-btn-primary-border); */

    background: #f7d23f;
    border-color: #eca91c;

    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 18px;
}

/* button.primary:hover {
    background: linear-gradient( var(--color-btn-primary-bg-start-hover), var(--color-btn-primary-bg-end-hover));
    color: var(--color-btn-primary-text-hover);
    border-color: var(--color-btn-primary-border-hover);
}

button.primary:active {
    background: linear-gradient( var(--color-btn-primary-bg-start), var(--color-btn-primary-bg-end));
    color: var(--color-btn-primary-text);
    border-color: var(--color-btn-primary-border);
} */

/* Alternative BUTTON */

button.alternative {
    cursor: pointer;
    user-select: none;
    width: fit-content;

    padding: 8px 20px;

    border: 1px solid;
    border-radius: var(--button-border-radius);
    background: var(--color-btn-alternative-bg);
    color: var(--color-btn-alternative-text);
    border-color: var(--color-btn-alternative-border);

    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 18px;
}

button.alternative:hover {
    background: var(--color-btn-alternative-bg-hover);
    color: var(--color-btn-alternative-text-hover);
    border-color: var(--color-btn-alternative-border-hover);
}

button.alternative:active {
    background: var(--color-btn-alternative-bg);
    color: var(--color-btn-alternative-text);
    border-color: var(--color-btn-alternative-border);
}

/* Alternative dark BUTTON */

button.alternative-dark {
    cursor: pointer;
    user-select: none;
    line-height: 150%;
    width: fit-content;

    padding: 8px 15px;

    /* border: 1px solid;
    border-radius: var(--button-border-radius);
    background: var(--color-btn-alternative-dark-bg);
    color: var(--color-btn-alternative-dark-text);
    border-color: var(--color-btn-alternative-dark-border); */

    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 18px;
}

button.alternative-dark:hover {
    background: var(--color-btn-alternative-dark-bg-hover);
    color: var(--color-btn-alternative-dark-text-hover);
    border-color: var(--color-btn-alternative-dark-border-hover);
}

button.alternative-dark:active {
    background: var(--color-btn-alternative-dark-bg);
    color: var(--color-btn-alternative-dark-text);
    border-color: var(--color-btn-alternative-dark-border);
}

/* Inputs */

/* Material icons */

.inline-icon {
    vertical-align: bottom;
    font-size: 24px !important;
}

.inline-icon-middle {
    vertical-align: middle;
    font-size: 24px !important;
}

.outer-module {
    position: relative;
    width: 100%;
    height: auto;
}

.inner-module {
    /* max-width: 100vh; */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}