.success-page {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    /* height: 100vh; */
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url(/static/pictures/damascus.svg);
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offset-upwards {
    margin-bottom: 30px;
}

.success-headline {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.right-align {
    margin-left: auto;
    margin-right: 0;
}

.fulfillment-plan {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    flex-basis: 25%;
    flex-grow: 0;
}

.info-block:first-child{
    margin-left: 0;
}

.info-block:first-child .info-block-title{
    background-color: rgb(247, 210, 63) !important;
}

.info-block:last-child{
    margin-right: 0;
}

.info-block-icon{
    font-size: 90px !important;
    color: rgb(247, 210, 63);
    margin-bottom: 20px;
}

.info-block-title{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-block-description{
    font-size: 14px;
}